<div class="col">
  <div class="card h-100 hoverable">
    <div class="card-body">
      <h2 class="card-title">{{ certificate.title }}</h2>
      <p class="card-text">{{ certificate.description }}</p>
      <p><em>{{ certificate.category }}</em></p>
      <div>{{ certificate.content }}</div>
    </div>
  </div>
</div>
