<div class="col">
  <div class="card h-100 hoverable">
    <div class="card-body">
      <h2 class="card-title">{{ skill.title }}</h2>
      <p class="card-text">{{ skill.description }}</p>
      <p><em>{{ skill.category }}</em></p>
      <div>{{ skill.content }}</div>
    </div>
  </div>
</div>
